<% provide(:title, 'Support') %>

<h1>Support</h1>
<p>
  This is the Support page for the
  <a href="http://www.usrcube.com/">USRcube</a>
  company.
</p>

<%= form_tag do %>
	<%= label_tag  'firstName', "First Name" %>
	<%= text_field_tag 'firstName', @first_name, placeholder: 'Enter your First Name' %><br/>
	<%= label_tag 'lastName', "Last Name" %>
	<%= text_field_tag 'lastName', @last_name, placeholder: 'Enter your Last Name' %><br/>
	<%= label_tag 'emailAddress', "Email" %>
	<%= email_field_tag 'emailAddress', @email, placeholder: 'Enter your email address' %><br/>
	<%= label_tag 'emailMessage', "Message" %>
	<%= text_area_tag 'emailMessage', @email_message, placeholder: 'Please enter your message here', size: "50x10" %><br/>
	<%= submit_tag "Send Message" %>
<% end %>